body {
    background-color: #07080b !important;
    color: #ffbd59;
    margin: 0;
}

/*Fondo img principal*/

.img-fluid {
    width: 100%;
    height: auto;
}

.short-img {
    height: 400px;
    object-fit: cover;
    margin-top: -60px;
}

#fondo {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in;

}

.img-loaded {
    opacity: 0.5 !important;
}

/*NAVEGADOR*/
.navbar {
    background-color: rgba(60, 62, 68, 0.8);
    transition: background-color 0.3s ease;
}

.nav-link {
    color: #ffbd59 !important;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

/*CARRUSEL*/
.carousel-inner .row {
    height: 100%;
}

.carousel-inner .col {
    padding: 0 10px;
}

.carousel-inner .col {
    flex: 0 0 calc(33.333% - 100px);
    max-width: calc(33.333% - 10px);
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}

.carousel-indicators {
    position: relative;
    bottom: -30px;
    left: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.carousel-indicators button {
    background-color: #882d29;
    border: none;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.carousel-indicators-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 40px;
}

.carousel-indicators {
    display: flex;
}

.carousel-indicators button {
    background-color: #882d29;
    border: none;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.carousel-indicators button.active {
    background-color: #bd2921;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}
